* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #093C46;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

label {
    font-size: 1.9rem;
    text-transform: uppercase;
}

label::after {
    content: "*";
}

input, select {
    outline: none;
    border: none;
    padding: 10px;
    padding: 10px;
    border-radius: 20px;
}

.btn {
    display: block;
    margin: 0 auto;
    transition: all 0.5s;
    text-align: center;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: #111;
    background: #fff;
}

p {
    color: red;
}

.btn:hover {
    border: 1px #fff solid;
    background: #093C46;
    color: #fff;
}